<header class="header">
    <div>


        <button class="toggle">
            <i class="material-icons">
                menu
            </i>
        </button>
    </div>

    <nav class="menu">
        <ul>
            <li>
                <a routerLink="">
                    <i class="material-icons v-middle icon">
                        home
                    </i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a routerLink="products">
                    <i class="material-icons v-middle icon">
                        storefront
                    </i>
                    <span>Produtos</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
