* {
  --page-title-size: 3rem;
  --section-title-size: 2rem;
  --column-title-size: 20px;
  --hint-color: #B8B8B8;
  --text-color: #707070;
  --input-color: #131313;
  --remove-btn: #F22D2D;
  --remove-btn-outline-color: #791717;
}
