table {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.btn-actions {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}


.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
